/* Reset =================================================== */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Variables =================================================== */
/* Mixins =================================================== */
@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

html {
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  color: black; }
  @media screen and (min-width: 75em) {
    body {
      background-color: silver; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility; }

h1 small,
h2 small {
  font-weight: normal;
  color: #bfbfbf; }

h1,
.h1 {
  margin-bottom: 0.75em;
  font-size: 2em;
  line-height: 1.2; }

h2,
.h2 {
  margin-bottom: 0.75em;
  font-size: 1.5em;
  line-height: 1.2; }

h3,
.h3 {
  margin-bottom: 1em;
  font-size: 1.3125em;
  line-height: 1.3; }

h4,
.h4 {
  margin-bottom: 1.5em;
  font-size: 1.125em;
  line-height: 1.25; }

h5,
.h5 {
  font-size: 1em;
  margin-bottom: 1.5em; }

h6,
.h6 {
  margin-bottom: 1.5em;
  font-size: 0.875em;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase; }

p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  font-size: 0.875em;
  line-height: 1.5em; }

small {
  font-size: 0.875em; }

ul,
ol {
  margin: 0 0 1.5em -24px;
  padding: 0 0 0 24px; }

li ul,
li ol {
  margin: 0;
  font-size: 1em; }

blockquote {
  margin: 0 0 1.5em -24px;
  padding-left: 24px;
  border-left: 2px solid #c7ced6;
  font-family: Cambria, Georgia, Times, "Times New Roman";
  font-style: normal; }

q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

cite {
  font-style: normal; }

dl,
dd {
  margin-bottom: 1.5em; }

dt {
  font-weight: bold; }

.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right; }
.dl-horizontal dd {
  margin-left: 22.78%; }

abbr[title] {
  border-bottom: 1px dotted #c7ced6;
  cursor: help; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

ins {
  background-color: #f3f5f6;
  color: black;
  text-decoration: none; }

mark {
  background-color: #f3f5f6;
  color: black;
  font-style: italic;
  font-weight: bold; }

pre,
code,
kbd,
samp {
  font-family: Monaco, Courier New, monospace;
  font-size: 0.875em;
  line-height: 1.5em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baselineheight; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

/* Colour =================================================== */
a {
  text-decoration: none;
  color: #013568; }
  a:visited {
    color: #000203; }
  a:hover {
    text-decoration: underline;
    color: #011b35; }
  a:focus {
    outline: thin dotted;
    color: black; }
  a:hover, a:active {
    outline: 0; }

::-moz-selection {
  background-color: #d6dbe1;
  color: #2d353e;
  text-shadow: none; }

::selection {
  background-color: #d6dbe1;
  color: #2d353e;
  text-shadow: none; }

/* Elements =================================================== */
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #c7ced6;
  border-bottom: 1px solid white; }

img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin-bottom: 1.5em; }
  figure img {
    margin-bottom: 0.375em; }
  figure figcaption {
    display: block;
    font-weight: normal;
    font-size: 0.875em;
    color: gray; }

/* Forms =================================================== */
form {
  margin: 0 0 1.5em 0; }
  form fieldset {
    margin-bottom: 1.5em;
    padding: 0;
    border-width: 0; }
  form legend {
    display: block;
    width: 100%;
    margin-bottom: 3em;
    *margin-left: -7px;
    padding: 0;
    color: black;
    border: 0;
    border-bottom: 1px solid #8c9bab;
    white-space: normal; }
    form legend small {
      font-size: 0.875em;
      color: #bfbfbf; }
  form p {
    margin-bottom: 0.75em; }
  form ul {
    list-style-type: none;
    margin: 0 0 1.5em 0;
    padding: 0; }
  form br {
    display: none; }

label,
input,
button,
select,
textarea {
  font-size: 0.875em;
  vertical-align: baseline;
  *vertical-align: middle; }

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box; }

label {
  display: block;
  margin-bottom: 0.1875em;
  font-weight: bold;
  color: black;
  cursor: pointer; }
  label input,
  label textarea,
  label select {
    display: block; }

input,
textarea,
select {
  display: inline-block;
  width: 100%;
  padding: 4px;
  margin-bottom: 0.375em;
  background-color: white;
  border: 1px solid #8c9bab;
  color: black; }
  input:hover,
  textarea:hover,
  select:hover {
    border-color: #586879; }

input[type="image"],
input[type="checkbox"],
input[type="radio"] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  line-height: normal;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="image"] {
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

input[type="file"] {
  width: auto;
  padding: initial;
  line-height: initial;
  border: initial;
  background-color: transparent;
  background-color: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

input[type="button"],
input[type="reset"],
input[type="submit"] {
  width: auto;
  height: auto;
  cursor: pointer;
  *overflow: visible; }

select,
input[type="file"] {
  height: 28px;
  *margin-top: 4px;
  line-height: 28px; }

select {
  width: auto;
  background-color: white;
  font-size: 0.8125em; }

select[multiple],
select[size] {
  height: auto; }

textarea {
  resize: vertical;
  overflow: auto;
  height: auto;
  overflow: auto;
  vertical-align: top; }

input[type="hidden"] {
  display: none; }

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  cursor: not-allowed; }

input:focus,
textarea:focus {
  border-color: #2d353e, 40%;
  outline: 0;
  outline: thin dotted \9; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

::-webkit-input-placeholder {
  font-size: 0.875em; }

input:-moz-placeholder {
  font-size: 0.875em; }

/*
div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	background: #fff;
	border: 1px solid #ff0000;
	font-size: 10pt;
	width: 280px;
	padding: 2px;
}

span.wpcf7-not-valid-tip-no-ajax {
	color: #f00;
	font-size: 10pt;
	display: block;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 .watermark {
	color: #888;
}
*/
/* Tables =================================================== */
table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.5em;
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent; }
  table th,
  table td {
    padding: 8px;
    vertical-align: top;
    border-top: 1px solid #8c9bab;
    font-size: 0.875em;
    line-height: 1.5em;
    text-align: left; }
  table th {
    font-weight: bold; }
  table thead th {
    vertical-align: bottom; }
  table colgroup + thead tr:first-child th,
  table colgroup + thead tr:first-child td,
  table thead:first-child tr:first-child th,
  table thead:first-child tr:first-child td {
    border-top: 0; }
  table tbody + tbody {
    border-top: 2px solid #8c9bab; }
  table tbody tr td,
  table tbody tr th {
    -webkit-transition: background-color 0.25s 0 linear;
    -moz-transition: background-color 0.25s 0 linear;
    -ms-transition: background-color 0.25s 0 linear;
    -o-transition: background-color 0.25s 0 linear;
    transition: background-color 0.25s 0 linear; }
  table tbody tr:hover td,
  table tbody tr:hover th {
    background-color: #a9b4c1; }

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #c7ced6; }

nav-collapse, .nav-collapse:visited {
  display: block;
  padding: 0.4em 0 0.5em 0; }

.nav-collapse:hover {
  text-decoration: none; }

.open-collapse {
  -webkit-opacity: 0.95;
  -moz-opacity: 0.95;
  opacity: 0.95; }

.menu {
  position: relative;
  margin: 0 0 0.5em;
  padding: 0;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
  transition: height 1s ease; }

.no-js .menu {
  height: auto; }

.open-menu {
  max-height: 300em; }

/*
.nav-collapse {
display : none;	
}

.menu {
height : auto;
max-height: none;
overflow: visible;
}
*/
/*
@-webkit-keyframes fade-in {
0% {
opacity : 0;
}
60% {
opacity : 0;
}

100% {
opacity : 1;
}

}

@-moz-keyframes fade-in {
0% {
opacity : 0;
}
60% {
opacity : 0;
}

100% {
opacity : 1;
}

}

@-o-keyframes fade-in {
0% {
opacity : 0;
}
60% {
opacity : 0;
}

100% {
opacity : 1;
}

}

@keyframes fade-in {
0% {
opacity : 0;
}
60% {
opacity : 0;
}

100% {
opacity : 1;
}

}


.example {
-webkit-animation-name: fade-in;
-webkit-animation-duration: 0.7s;
-webkit-animation-timing-function: ease-in;
-webkit-animation-iteration-count: 1;
-moz-animation-name: fade-in;
-moz-animation-duration: 0.7s;
-moz-animation-timing-function: ease-in;
-moz-animation-iteration-count: 1;
-o-animation-name: fade-in;
-o-animation-duration: 0.7s;
-o-animation-timing-function: ease-in;
-o-animation-iteration-count: 1;
animation-name: fade-in;
animation-duration: 0.7s;
animation-timing-function: ease-in;
animation-iteration-count: 1;
}

*/
/*
@-webkit-keyframes fade-in {
0% {
opacity : 0;
}
60% {
opacity : 0;
}

100% {
opacity : 1;
}

}

@-moz-keyframes fade-in {
0% {
opacity : 0;
}
60% {
opacity : 0;
}

100% {
opacity : 1;
}

}

@-o-keyframes fade-in {
0% {
opacity : 0;
}
60% {
opacity : 0;
}

100% {
opacity : 1;
}

}

@keyframes fade-in {
0% {
opacity : 0;
}
60% {
opacity : 0;
}

100% {
opacity : 1;
}

}


.example {
-webkit-animation-name: fade-in;
-webkit-animation-duration: 0.7s;
-webkit-animation-timing-function: ease-in;
-webkit-animation-iteration-count: 1;
-moz-animation-name: fade-in;
-moz-animation-duration: 0.7s;
-moz-animation-timing-function: ease-in;
-moz-animation-iteration-count: 1;
-o-animation-name: fade-in;
-o-animation-duration: 0.7s;
-o-animation-timing-function: ease-in;
-o-animation-iteration-count: 1;
animation-name: fade-in;
animation-duration: 0.7s;
animation-timing-function: ease-in;
animation-iteration-count: 1;
}
*/
@media print {
  /* Print =================================================== */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  @page {
    margin: 0.5cm; }

  h2, h3 {
    orphans: 3;
    widows: 3;
    page-break-after: avoid; }

  p {
    orphans: 3;
    widows: 3; }

  pre, blockquote {
    border: 1px solid gray;
    page-break-inside: avoid; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  img {
    max-width: 100% !important;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr {
    page-break-inside: avoid; } }
