//	===========================================================================
//	OBJECTS
//	===========================================================================


//	---------------------------------------------------------------------------
//	Navigation abstraction
//	---------------------------------------------------------------------------

.nav {
	padding: 0;
	margin-left: 0;
	list-style: none;

	> li {
		&,
		> a {
			display: inline-block;
		}
	}
}

.nav--stacked {
	> li {
		display: list-item;

		> a {
			display: block;
		}
	}
}

.nav--fit {
	display: table;
	width: 100%;

	> li {
		display: table-cell;

		> a {
			display: block;
		}
	}
}


//	---------------------------------------------------------------------------
//	Media abstraction
//	---------------------------------------------------------------------------

.media {
	display: block;
	@include clearfix;

	img {
		display: block;
	}

	.media__img {
		float: left;
		margin-right: $base-line-height + em;
	}

	.media__img--rev {
		float: right;
		margin-left: $base-line-height + em;
	}

	.media__body {
		overflow: hidden;

		&,
		> :last-child {
			margin-bottom: 0;
		}
	}
}