

/* Forms =================================================== */

form {
margin : 0 0 $baselineheight 0;

fieldset {
margin-bottom : $baselineheight;
padding : 0;
border-width : 0; }

legend {
display : block;
width : 100%;
margin-bottom : $baselineheight * 2;
*margin-left : -7px;
padding : 0;
color : $textcolor;
border : 0;
border-bottom : $inputborderwidth $inputborderstyle $inputborder;
white-space : normal;

small {
@include font-size(14);
color : $lightgrey; }
}

p {
margin-bottom : $baselineheight / 2; }

ul {
list-style-type : none;
margin : 0 0 $baselineheight 0;
padding : 0; }

br {
display : none; }
}

label,
input,
button,
select,
textarea {
@include font-size(14);
vertical-align : baseline;
*vertical-align : middle; }

input,
button,
select,
textarea {
font-family : $basefont;
@include box-sizing(border-box); }

label {
display : block;
margin-bottom : $baseline / 8;
font-weight : bold;
color : $textcolor;
cursor : pointer;

input,
textarea,
select {
display : block; }
}

input,
textarea,
select {
display : inline-block;
width : 100%;
padding : 4px;
margin-bottom : $baselineheight / 4;
background-color : $inputbackground;
border : $inputborderwidth $inputborderstyle $inputborder;
color : $textcolor;

&:hover {
border-color : $inputhover; }
}


input[type="image"],
input[type="checkbox"],
input[type="radio"] {
width : auto;
height : auto;
padding : 0;
margin : 3px 0;
*margin-top : 0;
line-height : normal;
cursor : pointer;
@include rounded(0);
 }

input[type="checkbox"],
input[type="radio"] {
@include box-sizing(border-box);
padding : 0;
*width : 13px;
*height : 13px; }

input[type="image"] {
border : 0;
@include box-shadow(none); }

input[type="file"] {
width : auto;
padding : initial;
line-height : initial;
border : initial;
background-color : transparent;
background-color : initial;
@include box-shadow(none); }

input[type="button"],
input[type="reset"],
input[type="submit"] {
width : auto;
height : auto;
cursor : pointer;
*overflow : visible; }

select,
input[type="file"] {
height : 28px;
*margin-top : 4px;
line-height : 28px; }

select {
width : auto;
background-color : $inputbackground;
@include font-size(13); }

select[multiple],
select[size] {
height : auto; }

textarea {
@include resize(vertical);
height : auto;
overflow : auto;
vertical-align : top; }

input[type="hidden"] {
display : none; }


// disabled

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
@include opacity(.5);
cursor : not-allowed; }

// focus and active

input:focus,
textarea:focus {
border-color : $inputfocus;
outline : 0;
outline : thin dotted \9; }

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
@include box-shadow(none); }

::-webkit-input-placeholder {
@include font-size(14); }

input:-moz-placeholder {
@include font-size(14); }

// .form-inline
/*
.form-inline input,
.form-inline textarea,
.form-inline select {
display : inline-block;
margin-bottom : 0; }

.form-inline label {
display : inline-block; }

.form-inline .radio,
.form-inline .checkbox,
.form-inline .radio {
padding-left : 0;
margin-bottom : 0;
vertical-align : middle; }

.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
float : left;
margin-left : 0;
margin-right : 3px; }

// .form-search

.form-search input,
.form-search textarea,
.form-search select {
display : inline-block;
margin-bottom : 0; }

.form-search .search-query {
padding-left : 14px;
padding-right : 14px;
margin-bottom : 0;
@include rounded(14px); }

.form-search label {
display : inline-block; }

.form-search .radio,
.form-search .checkbox,
.form-inline .radio {
padding-left : 0;
margin-bottom : 0;
vertical-align : middle; }

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"] {
float : left;
margin-left : 0;
margin-right : 3px; }*/

// contact form 7

/*
div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	border: 2px solid #f7e700;
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	background: #fff;
	border: 1px solid #ff0000;
	font-size: 10pt;
	width: 280px;
	padding: 2px;
}

span.wpcf7-not-valid-tip-no-ajax {
	color: #f00;
	font-size: 10pt;
	display: block;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 .watermark {
	color: #888;
}
*/