//	===========================================================================
//	CONFIGURABLE OPTIONS
//	===========================================================================


//	---------------------------------------------------------------------------
//	Greyscale
//	---------------------------------------------------------------------------

$black						: rgb(0, 0, 0);
$darkgrey					: lighten($black, 25%);
$grey						: lighten($black, 50%);
$lightgrey					: lighten($black, 75%);
$lightergrey				: lighten($black, 90%);
$white						: rgb(255, 255, 255);


//	---------------------------------------------------------------------------
//	Typography
//	---------------------------------------------------------------------------

$base-font					: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-weight			: 400;
$base-line-height			: 1.5;

$base-heading-font			: Kameron, Georgia, Cambria, "Times New Roman", Times, serif;
$base-heading-font-weight	: 700;

$alt-font					: "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
$alt-line-height			: 1.35;

$code-font					: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;


//	---------------------------------------------------------------------------
//	Colors. Use meaningful names.
//	---------------------------------------------------------------------------

$body-color					: $black;
$body-background-color		: $white;

$base-color					: rgb(149, 203, 50);
$comp-color					: rgb(73, 167, 204);
$border-color				: lighten($base-color, 60);

$link-color					: $base-color;
$link-color-hover			: darken($link-color, 10);
$link-color-visited			: darken($link-color-hover, 10);
$link-color-focus			: darken($link-color-visited, 10);

$table-background-color		: transparent;
$table-border-color			: lighten($base-color, 40);
$table-hover-color			: lighten($base-color, 50);
$table-stripe				: lighten($base-color, 60);


//	---------------------------------------------------------------------------
//	Others.
//	---------------------------------------------------------------------------

$table-border-width			: 1px;
$table-border-style			: solid;

$wordpress-enabled			: false; // WordPress styles are disabled by default.