
.nav {
list-style:none;
margin-left:0;
padding: 0;

    > li {

        &,
        > a {
            display:inline-block;
           *display:inline;
            zoom:1;
        }
    }
}


.nav--stacked {

    > li {
        display:list-item;

        > a {
            display:block;
        }
    }
}


// force nav to occupy full space

.nav--fit {
display:table;
width:100%;

    > li {
        display:table-cell;

        > a {
            display:block;
        }
    }
}
