//	===========================================================================
//	HELPER CLASSES
//	===========================================================================


//	---------------------------------------------------------------------------
//	Hide from both screenreaders and browsers: h5bp.com/u
//	---------------------------------------------------------------------------

.hidden {
	display: none !important;
	visibility: hidden;
}


//	---------------------------------------------------------------------------
//	Hide only visually, but have it available for screenreaders: h5bp.com/v
//	---------------------------------------------------------------------------

.visuallyhidden {
	height: 1px;
	margin: -1px;
	padding: 0;
	position: absolute;
	width: 1px;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}


//	---------------------------------------------------------------------------
//	Hide visually and from screenreaders, but maintain layout
//	---------------------------------------------------------------------------

.invisible {
	visibility: hidden;
}


//	---------------------------------------------------------------------------
//	Clearfix: contain floats
//	---------------------------------------------------------------------------

.clearfix {
	@include clearfix;
}