//	===========================================================================
//	MIXINS
//	===========================================================================


//	---------------------------------------------------------------------------
//	Configurable Media Queries. Also used to generate old-ie CSS without MQs.
//
//	$value		- Breakpoint value
//	$feature	- Media query operator
//	$media		- Media type
//	---------------------------------------------------------------------------

$fix-mqs: false !default;

@mixin respond-to($value, $feature: 'min-width', $media: 'screen') {
	@if $fix-mqs {
		@if $fix-mqs >= $value {
			@content;
		}
	}
	@else {
		@media #{$media} and (#{$feature}: #{$value}) {
			@content;
		}
	}
}

$old-ie: false !default;

@mixin old-ie {
	@if $old-ie {
		@content;
	}
}


//	---------------------------------------------------------------------------
//	RGBA fallbacks
//
//	Use like this: @include tran(bg, #00ff00, .8);
//	---------------------------------------------------------------------------

@function trans($color, $percentage) {
	@return lighten($color, (1-$percentage)*5%);
}

@function transd($color, $percentage) {
	@return darken($color, (1-$percentage)*5%);
}

@mixin tran($type, $color, $percentage, $shade: ligthen) {
	@if $shade == lighten {
		@if $type == color {
			color: trans($color, $percentage);
			color: rgba($color, $percentage);
		}
		@if $type == bg {
			background-color: trans($color, $percentage);
			background-color: rgba($color, $percentage);
		}
	}
	@else {
		@if $type == color {
			color: transd($color, $percentage);
			color: rgba($color, $percentage);
		}
		@if $type == bg {
			background-color: transd($color, $percentage);
			background-color: rgba($color, $percentage);
		}
	}
}


//	---------------------------------------------------------------------------
//	Convert pixels to ems
//
//	For a relational value of 12px write em(12) when the parent is 16px
//	if the parent is another value say 24px write em(12, 24)
//	---------------------------------------------------------------------------

@function em($pxval, $base: 16) {
	@return ($pxval / $base) * 1em;
}


//	---------------------------------------------------------------------------
//	Micro clearfix - http://nicolasgallagher.com/micro-clearfix-hack/

//	Provides an easy way to contain floats without adding additional markup.
//	---------------------------------------------------------------------------

@mixin clearfix {
	*zoom: 1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}