//	===========================================================================
//	BASE
//	---------------------------------------------------------------------------
//	These are the base style rules.
//	===========================================================================

@import "../utils/_normalize";


//	---------------------------------------------------------------------------
//	More sensible box model.
//	http://paulirish.com/2012/box-sizing-border-box-ftw
//	---------------------------------------------------------------------------

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


//	---------------------------------------------------------------------------
//	1.	Prevent system color scheme’s background color being used in Firefox,
//		IE, and Opera.
//	2.	Prevent system color scheme’s text color being used in Firefox, IE, and
//		Opera.
//	3.	Sets default font family.
//	---------------------------------------------------------------------------

html {
	background: $white;													// 1
	color: $black;														// 2
	font: {
		family: $base-font;												// 3
		size: 100%;
		weight: $base-font-weight;
	}
	line-height: $base-line-height;
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: lighten($base-color, 75);
}


//	---------------------------------------------------------------------------
//	Sets base styles.
//	---------------------------------------------------------------------------

body {
	background-color: $body-background-color;
}


//	---------------------------------------------------------------------------
//	Sets primary color.
//	---------------------------------------------------------------------------

html,
body,
button,
input,
select,
textarea {
	color: $body-color;
}


//	---------------------------------------------------------------------------
//	Remove text-shadow in selection highlight: h5bp.com/i
//	These selection declarations have to be separate.
//	Customize the background color to match your design.
//	---------------------------------------------------------------------------

::-moz-selection {
	background-color: lighten($base-color, 65);
	color: $base-color;
	text-shadow: none;
}

::selection {
	background-color: lighten($base-color, 65);
	color: $base-color;
	text-shadow: none;
}


//	---------------------------------------------------------------------------
//	Links and buttons
//	---------------------------------------------------------------------------

@import "base/_links_and_buttons";


//	---------------------------------------------------------------------------
//	Typography
//	---------------------------------------------------------------------------

@import "base/_typography";


//	---------------------------------------------------------------------------
//	Lists
//	---------------------------------------------------------------------------

ol,
ul {
	&.unstyled {
		list-style: none;
		margin: 0;
		padding: 0;
	}
}


//	---------------------------------------------------------------------------
//	Embedded content
//	---------------------------------------------------------------------------

img {
	max-width: 100%;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}

figure {
	margin: 0 0 $base-line-height + em 0;
}


//	---------------------------------------------------------------------------
//	Forms
//	---------------------------------------------------------------------------

@import "base/_forms";


//	---------------------------------------------------------------------------
//	Tables
//	---------------------------------------------------------------------------

@import "base/_tables";


//	---------------------------------------------------------------------------
//	WordPress
//	---------------------------------------------------------------------------

@import "base/_wordpress";