//	===========================================================================
//	LINKS AND BUTTONS
//	===========================================================================


//	---------------------------------------------------------------------------
//	Links
//	---------------------------------------------------------------------------

a {
	text-decoration: none;
	color: $link-color;

	&:visited {
		color: $link-color-visited;
	}

	&:hover {
		color: $link-color-hover;
		text-decoration: underline;
	}

	&:focus {
		color: $link-color-focus;
	}
}