//	===========================================================================
//	TYPOGRAPHY
//	===========================================================================

h1,
h2,
h3,
h4,
h5,
h6,
[class^="heading--"] {
	margin: 0;
	font: {
		family: $base-heading-font;
		weight: $base-heading-font-weight;
	}
	text-rendering: optimizeLegibility;
}

h1,
h2 {
	small {
		font-weight: 400;
	}
}

h1,
.heading--h1 {
	margin-bottom: $base-line-height / 3 + em;
	font: {
		size: em(32);
	}
	line-height: 1.2;
}

h2,
.heading--h2 {
	margin-bottom: $base-line-height / 2 + em;
	font: {
		size: em(28);
	}
	line-height: 1.2;
}

h3,
.heading--h3 {
	margin-bottom: $base-line-height / 1.5 + em;
	font: {
		size: em(21);
	}
	line-height: 1.3;
}

h4,
.heading--h4 {
	margin-bottom: $base-line-height + em;
	font: {
		size: em(18);
	}
	line-height: 1.25;
}

h5,
.heading--h5 {
	margin-bottom: $base-line-height + em;
	font: {
		size: em(16);
	}
}

h6,
.heading--h6 {
	margin-bottom: $base-line-height + em;
	font: {
		size: em(14);
		weight: 400;
	}
	text-transform: uppercase;
}

p {
	margin: 0 0 $base-line-height + em 0;
	text-rendering: optimizeLegibility;
}

.lead {
	font-size: 150%;
	line-height: 1.3;
}

.small {
	font-size: 80%;
}

code,
kbd,
pre,
samp {
	font-family: $code-font;
}