//	===========================================================================
//	WORDPRESS
//	===========================================================================

@if $wordpress-enabled {

	.alignnone {
		margin: 0 1.5em 1.5em 0;
	}

	.aligncenter {
		display: block;
		margin: 0 auto;
	}

	.alignright {
		float: right;
		margin: 0 0 1.5em 1.5em;
	}

	.alignleft {
		float: left;
		margin: 0 1.5em 1.5em 0;
	}

	.aligncenter {
		display: block;
		margin: 0 auto;
	}

	a img.alignright {
		float: right;
		margin: 0 0 1.5em 1.5em;
	}

	a img.alignnone {
		margin: 0 1.5em 1.5em 0;
	}

	a img.alignleft {
		float: left;
		margin: 0 1.5em 1.5em 0;
	}

	a img.aligncenter {
		display: block;
		margin-left: auto;
		margin-right: auto
	}

	.wp-caption {
		max-width: 96%; /* Image does not overflow the content area */
		padding: .15em .625em;
		border: 1px solid #f0f0f0;
		background: #fff;
		text-align: center;
	}

	.wp-caption.alignnone {
		margin: 0 1.5em 1.5em 0;
	}

	.wp-caption.alignleft {
		margin: 0 1.5em 1.5em 0;
	}

	.wp-caption.alignright {
		margin: 0 0 1.5em 1.5em;
	}

	.wp-caption img {
		width: auto;
		max-width: 98.5%;
		height: auto;
		padding: 0;
		margin: 0;
		border: 0 none;
	}

	.wp-caption .wp-caption-text {
		padding: 0 .15em .15em;
		margin: 0;
	}

}